@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-Regular.ttf");
  font-display: swap;
}

@layer components {
  .custom-input {
    @apply  
      w-full
      bg-black 
      border-b 
      focus:outline-none
      bg-transparent
  }

  .custom-label {
    @apply 
      absolute 
      top-0
      left-0 
      transition-all 
      pointer-events-none 

      peer-focus:-top-5
      peer-focus:text-sm
      peer-focus:text-blue-400

      peer-[&:not(:placeholder-shown)]:-top-5
      peer-[&:not(:placeholder-shown)]:text-sm

      peer-[&:not(:focus):not(:placeholder-shown)]:text-neutral-400
  }

  .focus-underline {
    @apply 
      absolute 
      bottom-0 
      left-0 
      w-0
      border-b
      border-b-blue-400 
      pointer-events-none 
      transition-all 
      duration-500 
      group-focus-within:w-full
  }
}